:root{
    --base-color: #231D1D;
    --accent-color: #372B2A;
    --light-color: #ebeef0;
    --medium-color: #4A5961;
    --burned-color: #9D756B;
    --white-color: #fff;

    --base-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --accent-font: 'Satisfy', cursive;
}