body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main, section, header{
    display: flex;

    padding: 2em;
    margin: 2rem;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    gap: 1em;

    background-color: var(--light-color);
}

main{
    background-color: var(--light-color);
}

footer{
    display: flex;

    padding: 2em;
    margin-top: auto;
    bottom: 0;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--white-color);
}

.width-full{
    width: 100%;
}

.width-70{
    width: 70%;
}

@media screen and (max-width: 600px){
    .width-70{
        width: 100%;
    }  
}

.no-bg-color{
    background-color: transparent;
}