nav{
    position: top; 
    margin-top: 0;
    z-index: 10;

    display: grid;
    min-height: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: 2em;

    text-align: right;
    width: 100%;
    min-height: 2em;

    gap: 2rem;

    background-color: var(--white-color);

    padding: 1rem;
}

nav label{
    font-size: 2em;
}

nav input[type="checkbox"]{
    display: none;
}

nav input[type="checkbox"]:checked ~ ul{
    display: block;
}

nav ul{
    z-index: 10;
    
    grid-row: 2;
    grid-column: 1;


    display: none;
    list-style: none;

    font-size: 1.2em;

    padding: 1rem;
    gap: 3rem;
}

    nav li{
        padding-bottom: 1rem;
    }

@media screen and (min-width: 600px){
    label{
        display: none;
    }

    nav ul{
        display: flex;
        grid-row: 1;
        justify-content: flex-end;
    }
}